.all-product {
  margin-top: 250px;
}

.products {
  padding: 1px 0;
}
.slide .container .my-sw {
  margin: 202px 0 0 0;
}
.slide .container .my-sw1 {
  margin: 0 0 50px 0;
}
.slide .container .mySwiper .btn-swip {
  top: 28px;
}
.products .product1 {
  margin: 40px 0 0 0;
}
